<html>
    <head>
       <title>Registration Form</title>
    </head>
    <body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h2>{{message}}</h2>
      {% endfor %}
    {% endif %}
  {% endwith %}
      <h3>Register </h3>
      {{ testmydb }}
      <form action='/register' method='post'>
          First Name: <input type='text' name='first_name' value = {{first_name}}>
          Last Name: <input type='text' name='last_name' value = {{last_name}}>
          Email: <input type='text' name='email' value = {{email}}>
          Password: <input type='password' name='passw'>
          Confirm Password: <input type='password' name='confirm_passw'>   
          <input type='submit' value='register'>
      </form>
    </body>
</html>

<!--
{% for friend in all_friends: %}
   <p>Name: {{ friend['first_name'] }}</p>
   <p>Age: {{ friend['age'] }}</p>
   <hr>
{% endfor %}
-->
